<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5rem;
  }
</style>

<% content_for :vendor_css do %>
  <%= stylesheet_link_tag 'home/vendor', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :theme_css do %>
  <%= stylesheet_link_tag 'home/theme', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :page_css do %>
  <%= stylesheet_link_tag 'home/page', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :custom_css do %>
  <%= stylesheet_link_tag 'home/custom', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<%= link_to "Tao don", new_order_path %>

<!-- BEGIN: Content-->
<div class="app-content content ">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper container-xxl p-0">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <table>
        <tr>
          <th>ID</th>
          <th>Nguoi order</th>
          <th>Danh sach mon</th>
          <th>Price</th>
          <th>Hanh dong</th>
        </tr>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.name %></td>
            <td><%= order.dishes.pluck(:name).join(", ") %></td>
            <td><%= order.total_price %></td>
            <td>
              <%= link_to "Chi tiết", order_path(order) %> <br/>
              <%= link_to "Chỉnh sửa", edit_order_path(order) %> <br/>
              <%= link_to "Xóa", order_path(order), method: :delete, data: {confirm: "Are you sure?"} %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<% content_for :vendor_js do %>
  <%= javascript_include_tag 'home/vendor' %>
<% end %>

<% content_for :page_vendor_js do %>
  <%= javascript_include_tag 'home/page_vendor' %>
<% end %>

<% content_for :theme_js do %>
  <%= javascript_include_tag 'home/theme' %>
<% end %>

<% content_for :page_js do %>
  <%= javascript_include_tag 'home/page' %>
<% end %>
