<% content_for :vendor_css do %>
  <%= stylesheet_link_tag 'home/vendor', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :theme_css do %>
  <%= stylesheet_link_tag 'home/theme', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :page_css do %>
  <%= stylesheet_link_tag 'home/page', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :custom_css do %>
  <%= stylesheet_link_tag 'home/custom', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<!-- BEGIN: Content-->
<div class="app-content content ">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper container-xxl p-0">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <%= form_for dish do |f| %>
        Phân loại: <%= f.collection_select :category_id, categories, :id,
          proc {|category| category.name}, {},
          {class: "form-control select2"} %><br />
        Tên khách hàng: <%= f.text_field :name %><br />
        Gía: <%= f.text_field :price %><br />
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>

<% content_for :vendor_js do %>
  <%= javascript_include_tag 'home/vendor' %>
<% end %>

<% content_for :page_vendor_js do %>
  <%= javascript_include_tag 'home/page_vendor' %>
<% end %>

<% content_for :theme_js do %>
  <%= javascript_include_tag 'home/theme' %>
<% end %>

<% content_for :page_js do %>
  <%= javascript_include_tag 'home/page' %>
<% end %>
